.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

div.vertical-scroll-container {
    height: 100vh;
    overflow-y: scroll;
    padding-right: 15px;    
}

.topics-list li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.statement {
    quotes: "“" "”" "‘" "’";
    text-align: left;
}
    .statement:before, .statement:after {
        font-family: Georgia, serif;
        font-size: 4em;
        line-height: 0;
        opacity: .2;
        position: relative;
    }
    .statement:before {
        content: open-quote;
        margin-right: 10px;
        top: 33px;
    }
    .statement:after {
        content: close-quote;
        margin-left: 10px;
        bottom: -33px;
    }
    h2.statement:before {
        top: 54px;
    }
    h2.statement:after {
        bottom: -54px;
    }

.statement-list-item {
    margin-bottom: 10px;
    white-space: normal;
    width: 100%;
}

.btn-back-to-topic {
    margin-top: 20px;
    text-align: left;
    white-space: normal;
    width: 100%;
}
    .btn-back-to-topic .topic-name {
        font-weight: bold;
    }

/* Add styles to card to prevent long words & URLs from breaking out */
.card {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

blockquote p {
    white-space: pre-wrap;
}


.slide {
    position: absolute;
    width: 100%;
    transition: left 500ms ease-in, opacity 500ms ease-in;
}
    .slide-left.slide-enter {
        left: -110%;
        opacity: 0;
    }
    .slide-left.slide-enter-active {
        left: 0;
        opacity: 1;
    }

    .slide-left.slide-exit {
        left: 0;
        opacity: 1;
    }
    .slide-left.slide-exit-active {
        left: -110%;
        opacity: 0;
    }

    .slide-right.slide-enter {
        left: 110%;
        opacity: 0;
    }
    .slide-right.slide-enter-active {
        left: 0;
        opacity: 1;
    }

    .slide-right.slide-exit {
        left: 0;
        opacity: 1;
    }
    .slide-right.slide-exit-active {
        left: 110%;
        opacity: 0;
    }


.rating-scale {
    padding-left: 0;
}
    /* These settings look fine when the scale has 5 options */
    .rating-scale:before {
        content: '';
        position: relative;
        top: 11px;
        left: 10%;
        display: block;
        background-color: #efefef;
        height: 4px;
        width: 80%;
    }
    .rating-scale li {
        display: inline-block;
        width: 20%;
        text-align: center;
        vertical-align: top;
    }
    .rating-scale li input[type=radio] {
        display: block;
        position: relative;
        top: 0;
        left: 50%;
        margin-left: -6px;  
    }
    .rating-scale li label {
        width: 100%;
    }
