/* Prevent long words & URLs from breaking out of their containing element */
body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

blockquote p {
    white-space: pre-wrap;
}


/* Callout */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

ul.list-comma-separated {
    display: inline-block;
}
ul.list-comma-separated li.list-inline-item {
    margin-right: 0;
}
ul.list-comma-separated li:not(:last-child):after {
    content: ',\0000a0';
}

.quote-marks {
    quotes: "“" "”" "‘" "’";
    text-align: left;
}
    .quote-marks:hover {
        text-decoration: none;
    }
    .quote-marks:before, .quote-marks:after {
        font-family: Georgia, serif;
        line-height: 0;
        position: relative;
    }
    .quote-marks:before {
        content: open-quote;
    }
    .quote-marks:after {
        content: close-quote;
    }
    .btn-lg .quote-marks:before {
        margin-right: 6px;
        top: 32px;
    }
    .btn-lg .quote-marks:after {
        margin-left: 6px;
        bottom: -32px;
    }
    a.btn .quote-marks:before, a.btn .quote-marks:after {
        color: rgba(0, 0, 0, 0.2);
        font-size: 3.3em;
    }
    p.small .quote-marks:before, p.small .quote-marks:after {
        font-size: 2rem;
        opacity: 0.4;
    }
    p.small .quote-marks:before {
        margin-right: 2px;
        top: 15px;
    }
    p.small .quote-marks:after {
        bottom: -15px;
        margin-left: 2px;
    }
    small .quote-marks:before, small .quote-marks:after {
        font-size: 1.5rem;
        opacity: 0.8;
    }
    small .quote-marks:before {
        margin-right: 1px;
        top: 9px;
    }
    small .quote-marks:after {
        bottom: -9px;
        margin-left: 1px;
    }
    .card-body h4 .quote-marks:before, .card-body h4 .quote-marks:after {
        color: rgba(0, 0, 0, 0.2);
        font-size: 2.9em;
        opacity: 0.9;
    }
    .card-body h4 .quote-marks:before {
        margin-right: 4px;
        top: 34px;
    }
    .card-body h4 .quote-marks:after {
        bottom: -34px;
        margin-left: 4px;
    }

dl.button-definitions {
    min-width: 165px;
}
dl.button-definitions dt {
    float: left;
    margin-right: 5px;
}
dl.button-definitions dd {
    white-space: nowrap;
}

.emoji {
    display: inline-block;
    min-width: 23px;
    text-align: center;
}
p.small .emoji, small .emoji {
    max-width: 23px;
    margin-right: 6px;
}

.emoji-over-text-area {
    position: absolute;
}
.emoji-over-text-area .emoji {
    margin-left: 10px;
    max-width: 23px;
    position: relative;
    top: 8px;
}
.emoji-text-area {
    font-size: 18px;
    padding-left: 40px;
    resize: none;
}


.post {
    white-space: pre-wrap;
}
.post-list-item {
    text-align: left;
    white-space: pre-wrap;
    width: 100%;
}

.btn-link-inline {
    padding: 0;
    vertical-align: unset;
}

.btn-container > .btn:first-child {
    margin-left: 0 !important;
}
.btn-container .btn {
    margin-left: 1rem !important;
}

.list-comments-nested {
    margin-left: 10px;
}

.btn-outline-secondary:not(:hover).background-white {
    background-color: #fff;
}

/* Slide animation */
.slide {
    position: absolute;
    width: 100%;
    transition: left 500ms ease-in, opacity 500ms ease-in;
}
    .slide-left.slide-enter {
        left: -110%;
        opacity: 0;
    }
    .slide-left.slide-enter-active {
        left: 0;
        opacity: 1;
    }

    .slide-left.slide-exit {
        left: 0;
        opacity: 1;
    }
    .slide-left.slide-exit-active {
        left: -110%;
        opacity: 0;
    }

    .slide-right.slide-enter {
        left: 110%;
        opacity: 0;
    }
    .slide-right.slide-enter-active {
        left: 0;
        opacity: 1;
    }

    .slide-right.slide-exit {
        left: 0;
        opacity: 1;
    }
    .slide-right.slide-exit-active {
        left: 110%;
        opacity: 0;
    }

	

.ReactModal__Overlay {
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
    .ReactModal__Overlay--after-open {
        opacity: 1;
        transition: opacity 150ms ease-out;
    }
    .ReactModal__Overlay--before-close {
        opacity: 0;
    }
        
.ReactModal__Content {
    -webkit-transform: scale(0.5) rotateX(-30deg);
    transform: scale(0.5) rotateX(-30deg);
}   
    .ReactModal__Content--after-open {
        -webkit-transform: scale(1) rotateX(0deg);
        transform: scale(1) rotateX(0deg);
        transition: all 150ms ease-in;
    }   
    .ReactModal__Content--before-close {
        -webkit-transform: scale(0.5) rotateX(30deg);
        transform: scale(0.5) rotateX(30deg);
        transition: all 150ms ease-in;
    }
    .ReactModal__Content.modal-dialog {
        border: none;
        background-color: transparent;
    }
