<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HonestQ</title>

    <style>
    body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}
</style>
</head>
<body>
    <div>
        <h1><a href="/">HonestQ.com</a></h1>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - HonestQ.com</p>
        </footer>
    </div>
</body>
</html>
