@model Microsoft.AspNetCore.SpaServices.Prerendering.RenderToStringResult
@{
    ViewData["Title"] = "Home Page";
}
<div id="react-app">@Html.Raw(Model.Html)</div>

@if (Model.Globals != null)
{
<script>
window.initialReduxState = @Html.Raw(Model.Globals.ToString(Newtonsoft.Json.Formatting.None));
</script>
}

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}